<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <title>Welcome</title>
</head>
<body>

<div class="top">
    <h1>Welcome to the<br><span class="t">Research Experiment</span></h1>

    <h3>How to participate?</h3>
    <p>
        Please click <a class="input t" href="/draw" >here</a>.
    </p>

    <p>
        In this experiment you will be asked to draw a <span class="t">head</span>, <span class="t">body</span> or <span class="t">tail</span> part of an animal.
        You will have access to five colours and an eraser.
        Afterwards you will see a chimera with a specific bodypart you just drew.
        Please be mindful of others - your work will be publicly available.
        More participants = more bodyparts. You can participate as many times as you want.
    </p>

    <h3>Data collection</h3>
    <p>
        During drawing I will record your interactions with interface buttons.
        After you click the <span class="t">submit</span> button your <span class="t">drawing</span>, <span class="t">interface usage statistics</span> and <span class="t">browser user agent</span> will be sent to a private github repository.
        If at any point you wish to withdraw from the experiment, you can safely leave the page - no data will be sent unless you click the <span class="t">submit</span> button.
    </p>
    <p>
        Afterwards your data will be used to write a scientific report. Please refer to the top of this webpage for details.
        Aggregated results along with the application source code will be available on the public github page (to be added).
    </p>
    <p>
        Disclaimer: all content is provided as-is without any guarantees.
        No user content moderation system is present.
        Use at your own risk.
        The service may be terminated at any moment.
        By participating you give explicit consent on your collected data being
        licensed under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </p>

</div>

<div class="right">
    <h3><span class="t">UI buttons</span> & <span class="t">keyboard shortcuts</span></h3>

    <p style="font-size: smaller">
        > Do <span class="t">advanced users</span> prefer to use <span class="t">keyboard shortcuts</span>?<br>
        > Which buttons are more likely to be clicked by mouse?<br>
        > Which functions are more likely to be accessed by keyboard?<br>
        > Does it depend on user's device?<br>
        > Which devices do <span class="t">advanced users</span> prefer?
    </p>

</div>

<script>

    // i send data as formData
    // it doesn't understand arrays
    // do i keep stats as an array of strings
    // and later concatenate them into one big string
    // for ease of use later i format those strings as yaml files separated by ---
    var statsKeyboard = '';
    var statsUi = '';

    // autorun

    // remember the user
    setUniqueUserId();

    // assign a body part 0,1,2
    const BODYPART = Math.floor( Math.random()*3 );
    console.log( BODYPART );
    setCookie( 'bodypartiloc', BODYPART );

    if( BODYPART==0 ) {
        document.getElementById( 'chosen_part' ).innerText = 'head';
        document.getElementById( 'markL' ).innerText = 'nothing';
        document.getElementById( 'markR' ).innerText = 'body';
        document.getElementById( 'markL2' ).innerText = 'nothing';
        document.getElementById( 'markR2' ).innerText = 'neck';
    }
    else if( BODYPART==1 ) {
        document.getElementById( 'chosen_part' ).innerText='body';
    }
    else if( BODYPART==2 ) {
        document.getElementById( 'chosen_part' ).innerText = 'tail';
        document.getElementById( 'markL' ).innerText = 'body';
        document.getElementById( 'markR' ).innerText = 'nothing';
        document.getElementById( 'markL2' ).innerText = 'tail';
        document.getElementById( 'markR2' ).innerText = 'nothing';
    }



    document.addEventListener('keydown', (ev) => {

        // help:
        // https://stackoverflow.com/questions/17015019/keylistener-in-javascript

        // get lowercase key pressed
        let k = ev.key.toLowerCase();
        //console.log( k );

        // record keyboard shortcut being used
        let yaml = `---\nkey: ${k}\ntimestamp: ${getCurrentTimestamp()}\n`;
        statsKeyboard += yaml;

        if( k=='1' ) { colorAlt('black'); }
        else if( k=='2' ) { colorAlt('red'); }
        else if( k=='3' ) { colorAlt('orange'); }
        else if( k=='4' ) { colorAlt('lightskyblue'); }
        else if( k=='5' ) { colorAlt('greenyellow'); }
        else if( k=='e' ) { colorAlt('eraser'); }
        else if( k=='delete' ) { erase(); }
        else if( k=='enter' ) { save(); }

    });

</script>

</body>
</html>